<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.unimint">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Unimint">
        <activity android:name=".Tutorial.ViewTutorialDetailsActivity"></activity>
        <activity android:name=".Tutorial.AddTutorialActivity" />
        <activity android:name=".Tutorial.TutorialListViewActivity" />
        <activity android:name=".BudgetPlanner.ViewPlannerDetailsActivity" />
        <activity android:name=".BudgetPlanner.AddPlannerActivity" />
        <activity android:name=".Tutorial.TutorialDashboardActivity" />
        <activity android:name=".BudgetPlanner.PlannerDashboardActivity" />
        <activity android:name=".DashboardActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>